/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
         url('../fonts/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/quicksand-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksand-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksand-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quicksand-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksand-v20-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-700 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/quicksand-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksand-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksand-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quicksand-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksand-v20-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
  }

  @font-face {
     font-family: 'icomoon';
     src:  url('../fonts/icomoon.eot?x5evoj');
     src:  url('../fonts/icomoon.eot?x5evoj#iefix') format('embedded-opentype'),
       url('..//fonts/icomoon.ttf?x5evoj') format('truetype'),
       url('..//fonts/icomoon.woff?x5evoj') format('woff'),
       url('..//fonts/icomoon.svg?x5evoj#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: block;
   }
   
   [class^="icon-"], [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
   
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   .icon-chevron-down:before {
     content: "\f078";
   }