@import 'vars';
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    
}

body{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $text;
    background-color: #F9F9FA;
}

a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 140px;
}

.container__fluid{
    max-width: 1440px;
    margin: 0 auto;
}