@import 'global';
@import 'vars';
@import 'fonts';

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;    
}
.logo{
    width: 106px;
    height: 40px;
}

.header__menu{
    ul{
        li{
            display: inline-block;
            &+li{
                margin-left: 20px;
            }
        }
        margin-right: 20px;
    }
}

.drop__down{
    position: relative;
    padding-right: 24px;
    &::after{
        position: absolute;
        font-family: 'icomoon';
        content: "\f078";
        right: 0;
        font-size: 10px;
    }
}

.btn__enter{
    width: 87px;
    height: 34px;
    border: 2px solid #BC9CFF;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 9px 0px 10px 0px;
}

.bnt__reg{
    width: 196px;
    height: 34px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #BC9CFF;
    text-transform: uppercase;
    padding: 9px 0px 10px 0px;
    border: 2px solid #BC9CFF;
    text-align: center;
    margin-left: 20px;
}

.header__box{
    display: flex;
    align-items: center;
}

.nomer__inner{
    position: relative;
    @include ibg;
    width: 1440px;
    height: 830px;
}

.nomer__text{
    position: absolute;
    bottom: 30px;
    right: 140px;
    width: 297px;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

#modal__input{
    display: none;
}

#modal__input{
    padding: 40px 30px;
    form{
        width: 320px;
        input{
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $text;
            outline: none;
            padding: 12px 15px 8px 15px;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
        
    }
}

.btn__form{
    width: 100%;
    height: 44px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #BC9CFF;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0px 15px 0px;
    border: 2px solid #BC9CFF;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    &::after{
        position: absolute;
        right: 10px;
        font-size: 24px;
        content: "\e900";
        font-family: 'icomoon';
    }
}

.reg__box{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    cursor: auto;
    &-text{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 18px;
        color: #000;
    }
}

.btn__form-white{
    width: 99px;
    height: 44px;
    border: 2px solid #BC9CFF;
    border-radius: 25px;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0px 12px 0px;
    cursor: pointer;
}

.login__title{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin-bottom: 20px;
}

#modal__reg{
    display: none;
}

#modal__reg{
    padding: 40px 30px;
    form{
        width: 320px;
        input{
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $text;
            outline: none;
            padding: 12px 15px 8px 15px;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.form__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-top: 20px;
    margin-bottom: 5px;
}

.box{
    display: flex;
}
.radio__box{
    display: flex;
    width: 110px;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
  }
.switch-input {
    display: none;
}
.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}
.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
    background-color: #BC9CFF;
}

.switch-input:checked + .switch-label::after {
    left: 24px;
}

.switch__box{
    display: flex;
    align-items: center;
}

.switch__text{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-left: 10px;
}

.checkbox{
    ul{
        li{
            display: inline-block;
        }
    }

    ul li{
        color: #AAAAAA;
        display: inline-block;
        position: relative;
    }

    ul li input[type=radio]{
        position: absolute;
        visibility: hidden;
    }

    ul li label{
        display: block;
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color:rgba(31, 32, 65, 0.5);;
        padding: 0px 5px 0px 40px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;

    }
    ul li:hover label{
        color: #000;
    }

    ul li .check{
        display: block;
        position: absolute;
        border: 2px solid #AAAAAA;
        border-radius: 100%;
        height: 19px;
        width: 19px;
        top: 12px;
        left: 0px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
    }

    ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 11px;
        width: 11px;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }

    input[type=radio]:checked ~ .check {
        border: 2px solid  #BC9CFF;
    }

    input[type=radio]:checked ~ .check::before{
        background:  #BC9CFF;
    }

    input[type=radio]:checked ~ label{
        color:  #000;
    }
}

.search__box{
    position: absolute;
    width: 380px;
    height: 374px;
    background-color: #fff;
    top: 70px;
    left: 140px;
    padding: 40px 30px 30px 30px;
    color: #1F2041;
    
}

.search__datebox{
    display: flex;
}
//

.date__box{
    form{
        input{
            height: 40px;
            width: 150px;
        }
    }
}
.two{
    margin-left: 20px;
}

.guist__box{
    margin-top: 20px;
    form{
        input{
            width: 100%;
            height: 44px;
        }
    }
}

.date__box-title{
    margin-bottom: 5px;
    // font-family: Montserrat;
    // font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.footer__menu{
    ul{
        li{
            display: block;
            line-height: 17px;
            margin-top: 20px;
        }
    }
    &-title{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        font-weight: bold;
    }
    form{
        input{
            padding: 12px 0px 8px 15px;
            width: 260px;
            height: 44px;
            margin-top: 20px;
        }
    }
}


.footer__top-inner{
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
}

.logo__box-info{
    width: 262px;
    line-height: 24px;
    margin-top: 20px;
}

.footer__menu-info{
    line-height: 24px;
    width: 260px;
    margin-top: 20px;
}

.footer__bottom{
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px solid #D1D1D4;
    padding: 26px 0px;
}

.footer__bottom-inner{
    display: flex;
    justify-content: space-between;
}
.footer__bottom-info{
    line-height: 17px;
}
.footer__bottom-link{
    display: flex;
    a{
        font-size: 24px;
        line-height: 23px;
        color: #BC9CFF;
        &+a{
            margin-left: 20px;

        }
    }
}
@import 'media';
//end present box

