@import 'global';
@import 'vars';
@import 'fonts';

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;    
}
.logo{
    width: 106px;
    height: 40px;
}

.header__menu{
    ul{
        li{
            display: inline-block;
            &+li{
                margin-left: 20px;
            }
        }
        margin-right: 20px;        
    }
}

.drop__down{
    position: relative;
    padding-right: 24px;
    &::after{
        position: absolute;
        font-family: 'icomoon';
        content: "\f078";
        right: 0;
        font-size: 10px;
    }
}

.btn__enter{
    width: 87px;
    height: 34px;
    border: 2px solid #BC9CFF;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 9px 0px 10px 0px;
}

.bnt__reg{
    width: 196px;
    height: 34px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #BC9CFF;
    text-transform: uppercase;
    padding: 9px 0px 10px 0px;
    border: 2px solid #BC9CFF;
    text-align: center;
    margin-left: 20px;
}

.header__box{
    display: flex;
    align-items: center;
}

.nomer__inner{
    position: relative;
    @include ibg;
    width: 1440px;
    height: 830px;
}

.nomer__text{
    position: absolute;
    bottom: 30px;
    right: 140px;
    width: 297px;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

#modal__input{
    display: none;
}

#modal__input{
    padding: 40px 30px;
    form{
        width: 320px;
        input{
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $text;
            outline: none;
            padding: 12px 15px 8px 15px;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
        
    }
}

.btn__form{
    width: 100%;
    height: 44px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #BC9CFF;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0px 15px 0px;
    border: 2px solid #BC9CFF;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    &::after{
        position: absolute;
        right: 10px;
        font-size: 24px;
        content: "\e900";
        font-family: 'icomoon';
    }
}

.reg__box{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    cursor: auto;
    &-text{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 18px;
        color: #000;
    }
}

.btn__form-white{
    width: 99px;
    height: 44px;
    border: 2px solid #BC9CFF;
    border-radius: 25px;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0px 12px 0px;
    cursor: pointer;
}

.login__title{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
}

#modal__reg{
    display: none;
}

#modal__reg{
    padding: 40px 30px;
    form{
        width: 320px;
        input{
            width: 100%;
            height: 44px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid $text;
            outline: none;
            padding: 12px 15px 8px 15px;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
        
    }
}

.form__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-top: 20px;
    margin-bottom: 5px;
}

@import 'media';
//end present box

